article:nth-child(2) > h2{  
  font-size: 54px;
  text-align: center;
  margin: 0 0 50px;
}

#skills{
  margin-bottom: 60px;
}

.skills{
  width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill{
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 20px;
}
.skill p{
  margin: 10px 5px;
  font-size: 24px;
}
.skill img {
  width: 180px;
  height: 190px;
}